@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
body{
    background: #662222;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#envelope{
    position: relative;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 370px;
    background: #f5daa7;
    border: 4px solid;
    transform: rotateY(0deg);
}
h1{
    position: absolute;
    top: 51px;
    left: 45px;
    font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  color: #610606;
}
@keyframes rotate {
    100%{
        transform: rotateY(180deg);
        background: red;
    }
}
.envelope{
    animation: rotate 1100ms forwards;
}
.stamp{
    position: absolute;
    top: 13px;
    left: 9px;
    height: 30px;
    width: 38px;
    transform: rotate(345deg);
}